<div class="my-5 py-5" fxLayout="row"  fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>Connexion</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" fxLayout="column" fxLayoutGap="15px">
        <mat-form-field>
          <label>
            <input formControlName="email" matInput type="text" placeholder="email">
          </label>
        </mat-form-field>
        <mat-form-field>
          <label>
            <input formControlName="password" matInput type="password"  placeholder="mot de passe">
          </label>
        </mat-form-field>
        <div style="color: red" *ngIf="error">{{ error }}</div>
        <button mat-raised-button color="accent" (click)="submit()">Connexion</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
