/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.link {
  outline: 0;
  cursor: pointer;
}



.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

form.normal-form{
  margin: 10px;
}

.controles-container{
  width: 100%;
  padding: 5%;
}

.controles-container > * {
  width: 100%;
}

.button-row button{
  margin: 5px;
}



