<mat-toolbar color="primary" fxLayoutGap="15px">
  <span class="link" routerLink="/">Mon logo</span>
  <span fxFlex="auto"></span>
  <span *ngIf="!jwtToken.isAuthenticated" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" >
    <span class="link" routerLink="/signin" >Connexion</span>
    <span class="link" routerLink="/signup">Inscription</span>
  </span>
  <span *ngIf="jwtToken.isAuthenticated" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <span class="link" routerLink="/Product"> Produits </span>
    <span class="link" routerLink="/profile"> Mon compte </span>
    <mat-icon class="link" (click)="logout()">power_settings_new</mat-icon>
  </span>
</mat-toolbar>
